<div style="margin-top:25px">

</div>
<md-select mdInput placeholder="Select Home Campus" [(ngModel)]="selectedUniversity" (change)="updateStudents(selectedUniversity)">
  <md-option value="uw">UW</md-option>
  <md-option value="hessen">Hessen</md-option>
</md-select>
<md-input-container>
  <input mdInput type="text" [(ngModel)]="search" placeholder="search by name">
</md-input-container>
<br>
<div style="display:inline-flex">
  <table td-data-table style="width:500px; min-width: 50%;">
    <th td-data-table-column [sortable]="true" [active]="true">
      Name
    </th>
    <th td-data-table-column [sortable]="true" [active]="true">
      Email
    </th>
    <th td-data-table-column [sortable]="true" [active]="true">
      Semester Applied
    </th>
    <th td-data-table-column [sortable]="true" [active]="true">
      Home University
    </th>
    <tr td-data-table-row *ngFor="let student of filteredSearch(); let i = index;">
      <td td-data-table-cell> {{student.name}}
      </td>
      <td td-data-table-cell>
        {{student.email}}
      </td>
      <td td-data-table-cell>
        {{student.semesterApplied}}
      </td>
      <td td-data-table-cell>
        {{student.homeUniveristy}}
      </td>
    </tr>
  </table>
</div>
